body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p,
li {
  font-size: 1.1em;
  font-family: 'Manrope', sans-serif;
}

.entete,
.pied-de-page {
  background-color: white;
}
